loyalty-page {
    .roundcard {
        border-radius: 15px;
        padding: 20px;
        border-width: 5px;
        border-color: #fff;
    }
    .codePoster img{
        border-radius: 15px;
    }
    .imgCode {
        width: 50px;
        float: right;
    }
}